/* You can add global styles to this file, and also import other style files */

body .ui-table .ui-table-thead>tr>th,
body .ui-table .ui-table-tfoot>tr>td {
  font-weight: 800;
  color: #fff;
  background-color: #3e464c;
  font-size: 16px;
  border: 1px solid #cacaca;
}

body .ui-table .ui-table-tbody > tr > td{
  text-align: center;
}

.action {
  width: 10vw;
}



.action-buttons {
  display: flex;
  justify-content: center;
}

.float-right {
  float: right;
}

body .ui-message.ui-message-error {
  background-color: #e62a10;
  border-color: #e62a10;
  color: #ffffff;
  margin-top: 5px;
  display: block !important;
}

body .ui-message .ui-message-icon.pi-times {
  display: block !important;
}

input {
  text-transform: uppercase !important;
}

body .ui-tabview {
  padding: 0;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dashboardFiltro label {
  display: block !important;
}

.dashboardFiltro input,
.filtro div.ui-multiselect {
  width: 100% !important;
}

.ui-calendar.ui-calendar-w-btn input{
  width: 100%;
}

body .ui-button.ui-button-text-icon-left, body .ui-datepicker-buttonpane > button.ui-button-text-icon-left{
  width: 100%;
}

div[_ngcontent-qse-c241] {
  padding: 10px;
  flex: 1;
  width: 100%;
}

body .ui-dropdown{
  min-width: 7.7rem;
}

.layout-container .topbar .topbar-left {
  padding: 0  !important;
}

.layout-container .topbar .logo {
  margin-left: 46px;
     margin-top: 12px;
}

.layout-container .topbar .topbar-left{
  background-color: #fff;
}

body .ui-dialog.ui-shadow {
  box-shadow: 10px 5px 5px #00000085;
}
body .ui-widget-overlay {
  opacity: 1;
  background-color: transparent;
}

.p-formgrid.p-grid .p-col-12 {
  padding-top: 13px;
  padding-bottom: 10px;
}
p-sortIcon i {
  font-size: 14px;
  margin-top: -10px;
  color: #fff !important;
}

.alinhaCampoAcao {
  position: relative;
  top: -11px;
}

body .ui-table .ui-table-thead>tr>th,
body .ui-table .ui-table-tfoot>tr>td {
  font-weight: 800;
  color: #fff;
  background-color: #3e464c;
  font-size: 16px;
  border: 1px solid #cacaca;
}

.action {
  width: 10vw;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.float-right {
  float: right;
}

body .ui-message.ui-message-error {
  background-color: #e62a10;
  border-color: #e62a10;
  color: #ffffff;
  margin-top: 5px;
}

body .ui-message .ui-message-icon.pi-times {
  margin-right: 5px;
}

input {
  text-transform: uppercase !important;
}

body .ui-tabview {
  padding: 0;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dashboardFiltro label {
  display: block !important;
}

.dashboardFiltro input,
.filtro div.ui-multiselect {
  width: 100% !important;
}
body .ui-dialog.ui-shadow {
  box-shadow: 10px 5px 5px #00000085;
}
body .ui-widget-overlay {
  opacity: 1;
  background-color: transparent;
}

p-sortIcon i {
  font-size: 14px;
  margin-top: -10px;
  color: #fff !important;
}

.alinhaCampoAcao {
  position: relative;
  top: -11px;
}