div {
    padding: 10px;
}

#labelNome{
    margin-bottom: 100px;
}

span{
    color: red;
}

#info{
        float: left;
}

#containerButton{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#buttonCancelar{
    display: flex;
}

#containerDropdowns{
    display: flex;
    justify-content: space-around;
    flex: 1;
}