#formQtdDefeitos {
    display: flex;
    justify-content: space-between;
}

div {
    padding: 10px;
}

label {
    font-size: 15px;
}

span {
    color: red;
}

#dropdown {
    display: flex;
}

#info {
    float: right;
    margin-top: 1rem;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}

#containerButton{
    display: block;
    justify-content: space-between;
}

#formQtdDefeitos p-inputMask{
    width: 100%;
}

@media screen and (max-width: 868px) {

    #containerButton {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    #containerButton p-message{
        display: flex;
        justify-content: center;
    }

}

