div{
    padding: 10px
}

span{
    color: red;
}

@media screen and (max-width: 868px) {

    #containerButton {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #containerButton p-message{
        display: flex;
        justify-content: center;
    }

}