div {
    font-size: 15px;
    line-height: 2;
    padding: 5;
}

p-dialog{
    height: 200px;
}

span{
    color: red;
}

p-message{
    text-align: center;
}
#container{
    padding: 5px;
}    

.espacamento{
    padding: 10px;
}

#selection{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

#info {
    float: right;
    margin-right: 1rem;
}
.test{
width: 65vw ;
height: 65vw
}


