body .ui-inputtext{
    margin: 0;
    outline: medium none;
    padding: .25em;
    font-weight: normal;
    color :rgb(0, 0, 0);
  }

.inputFilter{
  color: white;
}

.filtroMobile{
  visibility: hidden;
}

@media screen and (max-width: 640px){

.filtroMobile{
    visibility: visible;
}
}
